{% extends 'base.html' %}
{% load static %} 
{% block head%}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}
{% block content %}

<div class="login-wrapper">
  {% if not user.is_authenticated %}
    <section class="login-container">
      <div class='icon-and-legend'>
        <img class="medium-icon" src="{% static 'icons/Icon-5-Hero.png' %}" alt="Hero Icon" />
        <h1 class="form-title">Log In</h1>
      </div>
        <form class="login-form" action="{% url 'home' %}" method="post">
        {% csrf_token %} {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}" />
        <button class="btn" type="submit">▶ Log In</button>
      </form>
      <div class="signup-link-container">
        <p> Not a hero yet?</p>
        <a href="{% url 'signup' %}"> Sign up!</a>
      </div>
    </section>
  {% endif %}
</div>
{% endblock %}