{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/UIverse-imports.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.png' %}" />
    <title>Deal Hero</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/c74386571e.js" crossorigin="anonymous"></script>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
          <a href="{% url 'home' %}">
            <img src="{% static '/images/DH-Small-Logo-1.png' %}" alt="Deal Hero Logo" />
          </a>
      </div>
      {% include "partials/search_box.html" %}
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <a class='nav-link' href="{% url 'wishlist' %}">
              <img class='icon' src="{% static '/icons/Icon-8-Wishlist.png' %}">Wishlist
            </a>
          </li>
          <li>
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button id="logout-button" class='nav-link' type="submit">
                <img class='icon' src="{% static '/icons/Icon-6-Logout.png' %}">Logout
              </button>
            </form>
          </li>
          {% else %}
            <li>
                <a class='nav-link' href="{% url 'login' %}">
                    <img class='icon' src="{% static '/icons/Icon-1-Stars.png' %}">Login
                </a>
            </li>
            <li>
                <a class='nav-link' href="{% url 'signup' %}">
                    <img class='icon' src="{% static '/icons/Icon-2-Mask.png' %}">Sign Up
                </a>
            </li>
          {% endif %}
          {% comment %} <li><a class='nav-link' href="{% url 'about' %}">About</a></li> {% endcomment %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>

