{% extends 'base.html' %} 
{% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}

<div class='wrapper'>
  <div class="hero-header">
    <div class='hero-image'>
      <img src="{% static 'images/Deal-Hero-Logo.png' %}" alt="Hero Logo" />
    </div>
    <div class="slogan">
      <div class='icon-and-legend'>
        <img src="{% static 'icons/Icon-3-Magnifier.png' %}" alt="Magnifying Glass" />
        <h2>Track</h2>
      </div>  
      <div class='icon-and-legend'>
        <img src="{% static 'icons/Icon-4-VS.png' %}" alt="Versus Icon" />
        <h2>Compare</h2>
      </div>  
      <div class='icon-and-legend'>
        <img src="{% static 'icons/Icon-5-Hero.png' %}" alt="Hero Icon" />
        <h2>Save the Day</h2>
      </div>  
    </div>
  </div>
  <div class="hero-description">
    <h3>Deal Hero helps you track prices for your favorite products across top retailers like Amazon, BestBuy, and Walmart.</h3>
  </div>
    
  {% include "partials/search_box.html" %}

  <form method="POST" action="{% url 'deals' %}">
    {% csrf_token %}
    <label for="category">Select Category:</label>
    <select name="category" id="category">
      <option value="electronics" selected>Electronics</option>
      <option value="fashion">Fashion</option>
      <option value="home">Home</option>
      <!-- Add more categories -->
    </select>
    <button type="submit">Fetch Deals</button>
  </form>

    <section class="deals-section">
      <h2>Deals of the Day</h2>
      {% if deals_of_the_day %}
        <div class='other-options-carousel'>
          {% for deal in deals_of_the_day %}
          <div class='product-card'>
            <div class="product-titles">
              <h3>{{ deal.title }}</h3>
            </div>
            <div class="product-img-container">
              <img class="product-image" src="{{ deal.url_image }}" alt="{{ deal.title }}">
            </div>
            <section class="product-description">
              <div class="logo-container">
                <a href="https://www.amazon.com{{ deal.url }}" target="_blank"><img  class="merchant-logo" src="{{ deal.logo_url }}" alt="Amazon logo" width="80"></a>
                <a href="https://www.amazon.com{{ deal.url }}" target="_blank">View on Amazon</a>
              </div>
                  <section class="description-text">
                      <p><span style="color: #faf0f0; font-size: small;"><svg viewBox="0 0 1000 200" class='rating'>
                          <defs>
                              <polygon id="star" points="100,0 131,66 200,76 150,128 162,200 100,166 38,200 50,128 0,76 69,66 "/>
                              <clipPath id="stars">
                                  <use xlink:href="#star"/>
                                  <use xlink:href="#star" x="20%"/>
                                  <use xlink:href="#star" x="40%"/>
                                  <use xlink:href="#star" x="60%"/>
                                  <use xlink:href="#star" x="80%"/>
                              </clipPath>
                          </defs>
                          <rect class='rating__background' clip-path="url(#stars)"></rect>
                          <rect width="{{ deal.rating_width }}%" class='rating__value' clip-path="url(#stars)"></rect>
                      </svg> ({{ deal.reviews_count }})</span></p>
                      <p style="font-size: larger"><strong>${{ deal.price }} </strong><span style="color: #faf0f0; font-size: medium"><em>List: $<del>{{ deal.strike_through_price }}</del></span></em></p>
                      <p><strong>Save: </strong><span style="color: #faf0f0;">{{ deal.discount }}%</span></p>
                      <p><strong>Rating: </strong><span style="color: #faf0f0;">{{ deal.rating }}</span></p>
                      {% if deal.best_seller %}
                          <p><strong>Best Seller</strong></p>
                      {% endif %}
                      {% if deal.is_amazons_choice %}
                          <p><strong>Amazon's Choice</strong></p>
                      {% endif %}
                      <form action="{% url 'add-to-wishlist' deal.asin %}" method="post">
                          {% csrf_token %} 
                          {% include "partials/add_to_wishlist_btn.html" %}
                      </form>
                  </section>
            </section>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <p>No deals available at the moment.</p>
      {% endif %}
    </section>
</div>

{% endblock %}

