{% extends 'base.html' %} 
{% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}

<div class='wrapper'>
  <div class="hero-header">
    <div class='hero-image'>
      <img src="{% static 'images/Deal-Hero-Logo.png' %}" alt="Hero Logo" />
    </div>
    <div class="slogan">
      <div class='icon-and-legend'>
        <img src="{% static 'icons/Icon-3-Magnifier.png' %}" alt="Magnifying Glass" />
        <h2>Track</h2>
      </div>  
      <div class='icon-and-legend'>
        <img src="{% static 'icons/Icon-4-VS.png' %}" alt="Versus Icon" />
        <h2>Compare</h2>
      </div>  
      <div class='icon-and-legend'>
        <img src="{% static 'icons/Icon-5-Hero.png' %}" alt="Hero Icon" />
        <h2>Save the Day</h2>
      </div>  
    </div>
  </div>
  <div class="hero-description">
    <h3>Deal Hero helps you track prices for your favorite products across top retailers like Amazon, BestBuy, and Walmart.</h3>
  </div>
    {% include "partials/search_box.html" %}
    
  </div>
</div>

{% endblock %}

