@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: "League Spartan", sans-serif;
    /* add a soft text shadow that lifts the text up from the page */
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
}

h2 { 
    text-align: center;
    font-size: 2.5svh;
    font-weight: 600;
    padding: 8px;
    margin: 1%;
}

h3 {
    text-align: center;
    padding: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vh;
    padding-right: 5vh;
    background: linear-gradient(to right, #563d7c, #2a0845);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.88);
    z-index: 0;
    font-weight: 600;
}

header img {
    height: 60px;
}

nav ul {
    display: flex;
    column-gap: 32px;
}

ul li {
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.icon {
    width: 64px;
    height: 64px;
}

ul li a {
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:2vh;
    color:#fff;
    transition:0.5s;
  }
  
  ul:hover li a {
    transform:scale(1.5);
    opacity:0.2;
    filter:blur(5px);
  }
  
  ul li a:hover {
    transform:scale(1.55);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  ul li a:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#b79c31;
    transition:0.75s;
    transform-origin:right;
    transform:scaleX(0);
    border-radius: 4px;
    z-index:-1;
  }
  
  ul li a:hover:before {
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }

#logout-button {
    background: none;
    font-family: "League Spartan", sans-serif;
    /* add a soft text shadow that lifts the text up from the page */
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: 600;
    font-size: 2vh;
}

a {
    display: block;
    position:relative;
    color:#f3f71f;
    transition:0.5s;
}
  
 a:hover {
    transform:scale(1.20);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
}
  
a:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#b79c31;
    transition:0.75s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
}
  
a:hover:before {
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
}

/* Button Styling from Uiverse.io by kleenpulse */ 
.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    cursor: pointer;
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: 0.5em 1.5em;
    font-size: 17px;
    border: 0;
    /* text-transform: uppercase; */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
      /* Top-left */ 0% var(--curve-size),
      var(--curve-size) 0,
      /* top-right */ 100% 0,
      100% calc(100% - var(--curve-size)),
      /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
      /* bottom-right 2 */ 0 100%
    );
    transition: color 250ms;
    font-family: "League Spartan", sans-serif;
  }
  
  .btn::after,
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
  }
  
  .btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%;
    }
  
    50% {
      background-position: 70% 100%;
    }
  
    100% {
      background-position: 31% 0%;
    }
  }
  
  .btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
      /* Top-left */ var(--border-width)
        calc(var(--curve-size) + var(--border-width) * 0.5),
      calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
    );
    transition: clip-path 500ms;
  }
  
  .btn:where(:hover, :focus)::after {
    clip-path: polygon(
      /* Top-left */ calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width)),
      /* bottom-right 2 */
        calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
        calc(100% - var(--border-width))
    );
    transition: 200ms;
  }
  
  .btn:where(:hover, :focus) {
    color: #fff;
  }
  
  .icon-and-legend {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.icon-and-legend img {
    height: 52px;
}