@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    font-family: "League Spartan", sans-serif;
    background: linear-gradient(to right, #563d7c, #2a0845);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
}

h1 {
    font-size: xxx-large;
}

h2 { 
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    padding: 8px;
    margin: 1%;
}

h3 {
    text-align: center;
    font-size: larger;
    padding: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vh;
    padding-right: 5vh;
    background: linear-gradient(to right, #563d7c, #2a0845);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.88);
    z-index: 0;
    font-weight: 600;
}

header img {
    height: 60px;
}

nav ul {
    display: flex;
    column-gap: 32px;
}

ul li {
    list-style: none;
}

.nav-link {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.icon {
    width: 64px;
    height: 64px;
}

ul li a {
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:2vh;
    color:#fff;
    transition:0.5s;
  }
  
  ul:hover li a {
    transform:scale(1.5);
    opacity:0.2;
    filter:blur(5px);
  }
  
  ul li a:hover {
    transform:scale(1.55);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  ul li a:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#b79c31;
    transition:0.75s;
    transform-origin:right;
    transform:scaleX(0);
    border-radius: 4px;
    z-index:-1;
  }
  
  ul li a:hover:before {
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }

#logout-button {
    background: none;
    font-family: "League Spartan", sans-serif;
    /* add a soft text shadow that lifts the text up from the page */
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: 600;
    font-size: 2vh;
}

a {
    display: block;
    position:relative;
    color:#f3f71f;
    transition:0.5s;
}
  
 a:hover {
    transform:scale(1.0);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
}
  
a:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#b79c31;
    transition:0.75s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
}
  
a:hover:before {
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
}

.search-bar-container{
    flex-grow: 1;
}

#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .icon-and-legend {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    width: 100%
}

.icon-and-legend img {
    height: 52px;
}