.wrapper {
    height: 100%;
    background-image: url('../images/BG\ 1\ -\ Sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .hero-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slogan {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        column-gap: 12px;
    }

    .hero-description {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-description h3 {
        background-color: rgba(69, 69, 69, 0.662);
        padding: 12px;
        border-radius: 12px;
    }
}