 #main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, #563d7c, #2a0845);
    padding-top: 24px;

    .other-options-carousel {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100vw;
        padding-left: 12px;
        column-gap: 24px;
        overflow-x: scroll;
        scrollbar-color: gold purple;
        scrollbar-width: thin;
        overscroll-behavior-inline: contain;
    }
    
    .snaps-inline {
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: 2rem;
    }
    
    .snaps-inline > * {
     scroll-snap-align: start;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(to right, #acacac79, rgba(107, 107, 107, 0.45));
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(3px);
        border-radius: 12px;
        min-width: 420px;
        max-width: 18svw;
        height: fit-content;
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 0;
        padding-bottom: 0px;
        overflow: hidden;
    }

    .product-titles {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-titles h1 {
        width: 100%;
        margin: 0;
        margin-left: -12px;
        margin-right: -12px;
        text-align: center;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffffbf);
        padding: 8px 0 8px 0;
    }

    .product-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        object-fit: contain;
        width: 100%;
        max-height: 100%;
        position: relative
    }

    .product-image {
        height: 100%;
        max-height: 100%;
    }

    .product-img-container > :first-child {
        max-height: 25cqh;
        max-width: 100%;
    }

    .product-description {
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: 12px;
        width: 100%;
        padding: 12px 0 12px 0;
        background: linear-gradient(to bottom, hsla(0, 0%, 67%, 0.85), hsla(0, 0%, 42%, 0.5));
    }

    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4px;
    }

    .logo-container a {
        text-align: center;
    }
    
    .merchant-logo {
        border-radius: 50%;
    }
    .savings-stamp{
        border-radius: 50%;
        background-color: rgb(255 0 0 / 74%);
        position: absolute;
        top: -12px;
        right: 24px;
        height: 42px;
        width: 42px;
        display: flex;
        align-items: center;
    }
}