.login-wrapper {
    height: 100%;
    background-image: url('../images/BG\ 1\ -\ Sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 32px;
        background: linear-gradient(to right, #ffffff79, rgba(255, 255, 255, 0));
        border-radius: 20px;
        padding: 24px;
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(3px);
    }

    .signup-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 32px;
        background: linear-gradient(to right, #ffffff79, rgba(255, 255, 255, 0));
        border-radius: 20px;
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(3px);
        overflow: hidden;
    }

    .card-top-title {
        margin: 0;
        padding: 8px 0 8px 0;
        background-color: rgba(42, 42, 42, 0.76);
        text-align: center;
        width: 100%;
    }

    .medium-icon {
        height: 8vh;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: medium;
        line-height: 2.5;
        margin: 12px 0 12px 0;
        padding: 0 12px 0px 12px;
    }

    .login-form label {
        font-size: large;
        font-weight: 350;
    }

    form input {
        background-color: #181818;
        max-width: 190px;
        height: 12px;
        padding: 8px;
        border: 2px solid white;
        border-radius: 8px;
        box-shadow: 1px 1px 4px rgb(249, 255, 85);
      }
      
      input:focus {
        color: rgb(0, 255, 255);
        background-color: #3c3c3c;
        outline-color: rgb(0, 255, 255);
        box-shadow: -2px -2px 25px rgb(0, 255, 255);
        transition: 2s;
        transition-property: box-shadow;
      }

      input:valid {
        color: #ffffff;
      }

      input:invalid {
        border-color: red;
      }

      
}

.signup-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 12px;
    column-gap: 12px;
}