.login-wrapper {
    height: 100%;
    background-image: url('../images/BG\ 1\ -\ Sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 32px;
        background: linear-gradient(to right, #ffffff79, rgba(255, 255, 255, 0));
        border-radius: 20px;
        padding: 24px;
        width: 300px;
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.65);
        backdrop-filter: blur(3px);
    }

    .medium-icon {
        height: 8vh;
    }

    h1 {
        font-size: 5vmin;
        font-family: "League Spartan", sans-serif;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: medium;
    }

    .login-form label {
        font-size: large;
    }

    /* From Uiverse.io by btongheng */ 
    .submit-button {
        --😀: #644dff;
        --😀😀: #ffe270;
        --😀😀😀: #000000b1;
        font-family: "League Spartan", sans-serif;
        cursor: pointer;
        width: 184px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* gap: 1rem; */
        font-size: 2vh;
        font-weight: 600;
        color: #fff;
        background: linear-gradient(to right, #563d7c, #2a0845);
        border: 2px solid var(--😀😀);
        border-radius: .75rem;
        box-shadow: 0 8px 3 var(--😀😀);
        transform: skew(-8deg);
        transition: all .1s ease;
        filter: drop-shadow(0 8px 12px var(--😀😀😀));
    }
    
    .button:active {
        letter-spacing: 0px;
        transform: skew(-10deg) translateY(8px);
        box-shadow: 0 0 0 var(--😀😀😀);
    }
}