.results-wrapper {
    height: 100%;
    background-image: url('../images/BG\ 2\ -\ Gotham.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #acacac79, rgba(107, 107, 107, 0.45));
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    min-width: 420px;
    max-width: 35svw;
    height: fit-content;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0;
    padding-bottom: 0px;
    overflow: hidden;
}

.product-titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    max-height: 100%;
}

.product-image {
    max-height: 40cqh;
}

.product-description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 12px;
    width: 100%;
    padding: 12px 0 12px 0;
    background: linear-gradient(to bottom, hsla(0, 0%, 67%, 0.85), hsla(0, 0%, 42%, 0.5));
}