.results-wrapper {
    height: 100%;
    background-image: url('../images/BG\ 2\ -\ Gotham.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #acacac79, rgba(107, 107, 107, 0.45));
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    min-width: 420px;
    max-width: 80svw;
    height: fit-content;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0;
    padding-bottom: 0px;
    overflow: hidden;
}

.product-titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-titles h1 {
    width: 100%;
    margin: 0;
    margin-left: -12px;
    margin-right: -12px;
    text-align: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffffbf);
    padding: 8px 0 8px 0;
}

.best-option-img-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    background: white;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.details-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}


.product-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.product-image {
    height: 100%;
    max-height: 100%;
}

.icon-stamp {
    width: 84px;
    position: absolute; 
    top: 0;
    right: 0;
}

.product-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, hsla(0, 0%, 67%, 0.85), hsla(0, 0%, 42%, 0.5));
    padding: 12px;
    word-wrap: break-word;
}

.other-options-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    padding-left: 12px;
    column-gap: 24px;
    overflow-x: scroll;
    scrollbar-color: gold;
    scrollbar-width: thin;
}

.product-description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 12px;
    width: 100%;
    padding: 12px 0 12px 0;
    background: linear-gradient(to bottom, hsla(0, 0%, 67%, 0.85), hsla(0, 0%, 42%, 0.5));
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
}

.logo-container a {
    text-align: center;
}

.merchant-logo {
    border-radius: 50%;
}