/* BUY NOW BUTTON From Uiverse.io by JaydipPrajapati1910 */ 
.buy-now-btn {
    --width: 126px;
    --height: 36px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: rgb(199 202 32 / 96%);
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 40px;
    transition: background 0.3s;
  }
  
  .buy-now-btn-button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    --button-color: rgb(199 202 32 / 96%);
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .buy-now-btn::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .buy-now-btn::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buy-now-btn-wrapper,.text,.cart-icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.cart-icon {
    transition: top 0.5s;
  }
  
  .cart-icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cart-icon svg {
    width: 24px;
    height: 24px;
  }
  
  .buy-now-btn:hover {
    background: rgb(199 202 32 / 96%);
  }
  
  .buy-now-btn:hover .text {
    top: -100%;
  }
  
  .buy-now-btn:hover .cart-icon {
    top: 0;
  }
  
  .buy-now-btn:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .buy-now-btn:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .buy-now-btn:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }

/* --------------------------------------------- */
/* SEARCH BUTTON Styling from Uiverse.io by kleenpulse */ 
.btn {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  /* text-transform: uppercase; */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
  font-family: "League Spartan", sans-serif;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}

/* ----------------------------------------------- */
/* SEARCH INPUT FIELD From Uiverse.io by mrhyddenn  */
/* -----------------------------------------------  */
.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, rgba(255, 255, 0, 0.438), gold);
  border-image-slice: 1;
  outline: 0;
  font-size: medium;
  color: #fff;
  padding: 4px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: medium;
  cursor: text;
  top: 20px;
  color: whitesmoke
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: medium;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.no-hover-fx {
  width: 0;
}

/* ---------------------- */
/* ADD TO WISHLIST BUTTON */
/* ---------------------- */

/* From Uiverse.io by Cone911 */ 
.bookmarkBtn {
  width: 126px;
  height: 36px;
  margin-top: 12px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  /* background-color: rgb(12, 12, 12); */
  background: linear-gradient(to right, #563d7c, #2a0845);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.IconContainer {
  width: 40px;
  height: 33px;
  background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.gift-icon {
  border-radius: 1px;
}

.wishlist-text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  /* font-size: 1.04em; */
  font-family: "League Spartan", sans-serif;
}

.bookmarkBtn:hover .IconContainer {
  width: 160px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .wishlist-text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}


/* -------------------------------------- */
/* DYNAMIC STARS FOR RATINGS FROM CODEPEN */
/* -------------------------------------- */

.rating{
  width: 100px;
}

.rating__background {
  fill: #000000;
  stroke: red;
  stroke-width: 1;
  height: 100%;
  width: 1000%;
}

.rating__value {
  fill: #FFB94B;
  height: 100%;
}