.wishlist-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('../images/BG\ 2\ -\ Gotham.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    font-family: "League Spartan", sans-serif;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.85);
}

.wishlist-grid {
    flex-direction: revert;
    display: flex;
    max-width: 80vw;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}


.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #acacac79, rgba(107, 107, 107, 0.45));
    border-radius: 12px;
    min-width: 350px;
    max-width: 18svw;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(3px);
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
    overflow: hidden;
}

.product-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100%;
    width: 100%;
}

.product-img-container img {
    max-height: 25cqh;
    width: 100%;
}

.product-titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-titles h1 {
    width: 100%;
    margin: 0;
    margin-left: -12px;
    margin-right: -12px;
    text-align: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffffbf);
}

.product-titles h2 {
    text-align: center;
    margin: 1%;
}

.wishlist-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.description-and-links-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: linear-gradient(to right, #acacac79, rgba(107, 107, 107, 0.45));
    padding: 12px 0 12px 0;
    column-gap: 8px
}

.description-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: medium;
}

.description-text p {
    padding: 2px;
    margin: 4px 0 0 4px;
}

.action-links {
    line-height: 1.75;
    padding: 0 4px 0 4px;
}
