{% extends 'base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/products_index.css' %}" />
{% endblock %}
{% block content %}

<div class='results-wrapper'>

    <div class="product-card">
        <div class="product-titles">
            <h1>Best Option</h1>
            <h2>{{ amz_best_product.title }}</h2>
        </div>
        <div class="details-container">
            <div class="best-option-img-container">
                <img class="product-image" src="{{ amz_best_product.url_image }}" alt="{{ amz_best_product.title }}">
                <img class="icon-stamp" src="{% static '/icons/Icon-7-Hero-Choice.png' %}" alt="Hero Choice Tag">
            </div>
            <section class='product-text-container'>
                <svg viewBox="0 0 1000 200" class='rating'>
                    <defs>
                        <polygon id="star" points="100,0 131,66 200,76 150,128 162,200 100,166 38,200 50,128 0,76 69,66 "/>
                        <clipPath id="stars">
                            <use xlink:href="#star"/>
                            <use xlink:href="#star" x="20%"/>
                            <use xlink:href="#star" x="40%"/>
                            <use xlink:href="#star" x="60%"/>
                            <use xlink:href="#star" x="80%"/>
                        </clipPath>
                    </defs>
                    <rect class='rating__background' clip-path="url(#stars)"></rect>
                    <rect width="{{ amz_best_product.rating_width }}%" class='rating__value' clip-path="url(#stars)"></rect>
                </svg>    
                <p><strong>Price: </strong><span style="color: #faf0f0;">{{ amz_best_product.currency }} {{ amz_best_product.price }}</span></p>
                <p><strong>Rating: </strong><span style="color: #faf0f0;">{{ amz_best_product.rating }}</span></p>
                <p><strong>Reviews: </strong><span style="color: #faf0f0;">{{ amz_best_product.reviews_count }}</span></p>
                {% if amz_best_product.best_seller %}
                    <p><strong>Best Seller</strong></p>
                {% endif %}
                {% if amz_best_product.is_amazons_choice %}
                    <p><strong>Amazon's Choice</strong></p>
                {% endif %}
                <p><strong> Product ID: </strong><span style="color: #faf0f0;">{{ amz_best_product.asin }}</span></p>
                <a class="no-hover-fx" href="https://www.amazon.com{{ amz_best_product.url }}">{% include "partials/buy_now_btn.html" %}</a>
                <form action="{% url 'add-to-wishlist' amz_best_product.asin %}" method="post">
                    {% csrf_token %} 
                    {% include "partials/add_to_wishlist_btn.html" %}
                </form>
            </section>
        </div>
    </div>

    <h1>Other Amazon Options</h1>
    <div class='other-options-carousel'>
        {% for product in amz_products %}
        {% if product != amz_best_product %}
            <div class='product-card'>
                    <div class="product-titles">
                        <h3>{{ product.title }}</h2>
                    </div>
                    <div class="product-img-container">
                        <img class="product-image" src="{{ product.url_image }}" alt="{{ product.title }}">
                    </div>
                    <section class="product-description">
                        <div class="logo-container">
                            <img  class="merchant-logo" src="{{ product.logo_url }}" alt="{{ product.merchant.name }} logo" width="80">
                            <a href="https://www.amazon.com{{ product.url }}" target="_blank">View on Amazon</a>
                        </div>
                            <section class="description-text">
                                <svg viewBox="0 0 1000 200" class='rating'>
                                    <defs>
                                        <polygon id="star" points="100,0 131,66 200,76 150,128 162,200 100,166 38,200 50,128 0,76 69,66 "/>
                                        <clipPath id="stars">
                                            <use xlink:href="#star"/>
                                            <use xlink:href="#star" x="20%"/>
                                            <use xlink:href="#star" x="40%"/>
                                            <use xlink:href="#star" x="60%"/>
                                            <use xlink:href="#star" x="80%"/>
                                        </clipPath>
                                    </defs>
                                    <rect class='rating__background' clip-path="url(#stars)"></rect>
                                    <rect width="{{ product.rating_width }}%" class='rating__value' clip-path="url(#stars)"></rect>
                                </svg>
                                <p><strong>Price: </strong><span style="color: #faf0f0;">${{ product.price }}</span></p>
                                <p><strong>Rating: </strong><span style="color: #faf0f0;">{{ product.rating }}</span></p>
                                <p><strong>Reviews: </strong><span style="color: #faf0f0;">{{ product.reviews_count }}</span></p>
                                {% if product.best_seller %}
                                    <p><strong>Best Seller</strong></p>
                                {% endif %}
                                {% if product.is_amazons_choice %}
                                    <p><strong>Amazon's Choice</strong></p>
                                {% endif %}
                                <p><strong> Product ID: </strong><span style="color: #faf0f0;">{{ product.asin }}</span></p>
                                <form action="{% url 'add-to-wishlist' product.asin %}" method="post">
                                    {% csrf_token %} 
                                    {% include "partials/add_to_wishlist_btn.html" %}
                                </form>
                            </section>
                    </section>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h1>Other Google Shopping Options</h1>
    <div class='other-options-carousel'>
            {% for product in ggl_products %}
                <div class='product-card'>
                    <div class="product-titles">
                        <h3>{{ product.title }}</h2>
                        <img class="product-image" src="data:image/jpeg;base64,{{ product.thumbnail }}" alt="{{ product.title }}">
                    </div>
                    <div class="product-description">
                        <div class="logo-container">
                                <img  class="merchant-logo" src="{{ product.logo_url }}" alt="{{ product.merchant.name }} logo" width="80">
                                <a href="https://www.google.com{{ product.url }}">Buy from {{ product.merchant.name }}</a>
                        </div>
                        <section class="description-text">
                            <p><strong>Price: </strong>{{ product.currency }} {{ product.price }}</p>
                            <p><strong>Rating: </strong>{{ product.rating }}</p>
                            <p><strong>Reviews: </strong>{{ product.reviews_count }}</p>
                            <p><strong>Merchant: </strong>{{ product.merchant.name }}</p>
                            <p><strong> Product ID: </strong>{{ product_id }}</p>
                            {% comment %} <a href="{% url 'fetch-product-details' product.product_id %}" class="add-to-wishlist">Add To WishList</a> {% endcomment %}
                        </section>
                    </div>
                </div>
            {% endfor %}
    </div>

</div>
{% endblock %}