{% extends 'base.html' %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/product_details.css' %}" />
{% endblock %}
{% block content %}

<div class='product-detail-wrapper'>
    <div class="product-title">
        <h1>{{ product.name }}</h1>
    </div>
    <div class="product-and-details-container">
        <div class="product-card">
                <div class="product-img-container">
                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                </div>
                <section class='product-text-container'>
                    <svg viewBox="0 0 1000 200" class='rating'>
                        <defs>
                            <polygon id="star" points="100,0 131,66 200,76 150,128 162,200 100,166 38,200 50,128 0,76 69,66 "/>
                            <clipPath id="stars">
                                <use xlink:href="#star"/>
                                <use xlink:href="#star" x="20%"/>
                                <use xlink:href="#star" x="40%"/>
                                <use xlink:href="#star" x="60%"/>
                                <use xlink:href="#star" x="80%"/>
                            </clipPath>
                        </defs>
                        <rect class='rating__background' clip-path="url(#stars)"></rect>
                        <rect width="{{ product.rating_width }}%" class='rating__value' clip-path="url(#stars)"></rect>
                    </svg>    
                    <p><strong>Price: </strong><span style="color: #faf0f0;">${{ latest_price }}</span></p>
                    <p><strong>Rating: </strong><span style="color: #faf0f0;">{{ product.rating }}</span></p>
                    <p><strong>Reviews: </strong><span style="color: #faf0f0;">{{ product.reviews_count }}</span></p>
                    <p><strong>Category: </strong><span style="color: #faf0f0;">{{ product.category }}</span></p>
                    <p><strong>In Stock: </strong><span style="color: #faf0f0;">{% if product.in_stock %} Yes. {% else %} Sold Out. {% endif %}</span></p>
                    <p><strong>ASIN: </strong><span style="color: #faf0f0;">{{ product.asin }}</span></p>
                    <p><strong>Amazon Choice: </strong><span style="color: #faf0f0;">{{ product.amazon_choice }}</span></p>
                    <p><strong>Prime Eligible: </strong><span style="color: #faf0f0;">{{ product.is_prime_eligible }}</span></p>
                    <a href="{{ product.product_url }}" target="_blank">{% include "partials/buy_now_btn.html" %}</a>
                </section>
        </div>
        <section class="price-history-container">
            <div class="price-history">
                <h2>Price History</h2>
                <table id="price-history-table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Price</th>
                            <th>Sold By:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in price_history %}
                            <tr>
                                <td>{{ entry.timestamp }}</td>
                                <td>${{ entry.price }}</td>
                                <td>{{ entry.retailer.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <form hx-post="{% url 'update-price' product.id %}" hx-target="#price-history-table tbody" hx-swap="innerHTML">
                {% csrf_token %}
                <button style="margin-top: 12px;" class="btn" type="submit">🔄 Check the Latest Price</button>
            </form>
            </div>
        </section>
    </div>

    </div>
        <div class="more-images-container">
            {% for image in product.more_images %}
               <a href="{{ image }}" target="_blank"><img src="{{ image }}" alt="Additional image for {{ product.name }}"></a>
            {% endfor %}
        </div>
        <section class="more-details-container">
            <div class="about-this-item-card">
                <p><strong>About This Item:</strong></p>
                <ul>
                    {% for point in product.bullet_points %}
                        <li class="bullet-point">{{ point }}</li>
                        {% endfor %}
                </ul>
            </div>
            <div class="about-this-item-card">
                <p><strong>Top Review: </strong>{{ product.top_review|safe }}</p>
            </div>
            
            <div class="text-details-card">
                <p><strong>Ratings Distribution:</strong></p>
                <ul>
                    {% for distribution in product.rating_stars_distribution %}
                    <li>
                    {{ distribution.rating }} stars: 
                        <meter value="{{ distribution.percentage }}" min="0" max="100">{{ distribution.percentage }}%</meter>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>      
</div>
{% endblock %}